.add-product-form{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
}
.form-input-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-input-div > p{
    font-weight: bold;
    font-size: 20px;
}
.form-input-div>input{
    width: 65%;
    outline: 0;
    border: 2px solid grey;
    font-size: 18px;
    padding: 7px;
    border-radius: 5px;
}
hr{
    width: 80%;
}
.button-add{
    padding: 8px 15px;
    margin-top: 15px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}
.button-add:hover{
    background-color: white;
    color: black;
}

a{
    color: black;
}